.mycenter {
    width: 1000px;
    margin: 0 auto;
}
.mynav {
    color: aliceblue;
    text-decoration: none;
    background-color: forestgreen;

}
.image {
    width: 100px;
    height: 100px;
    float: left;
    border: 5px;

}
.table table-striped{

    width: 700px;
}

}
